<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>贴吧自助平台</title>
    <link rel="stylesheet" type="text/css" href="/static/css/submit.css" media="all" />
    <!-- <script type="text/javascript" src="view.js"></script> -->
  </head>
  <body id="main_body" >
	<!-- <img id="top" src="top.png" alt="" /> -->
	<div id="form_container">
	  <h1><a>简谱录入</a></h1>
	  <form id="form_875089" class="appnitro"  method="post" action="/login">
		<div class="form_description">
		  <h2>You Need Login</h2>
		  <p></p>
		</div>						
		<ul >
		  <li id="li_2" >
		    <label class="description" for="element_3">用户名</label>
		    <div>
			  <input id="element_2" name="user" class="element text large" type="text" maxlength="255" value=""/> 
		    </div> 
		  </li>		

		  <li id="li_2" >
		    <label class="description" for="element_3">密码</label>
		    <div>
			  <input id="element_2" name="passwd" class="element text large" type="password" maxlength="255" value=""/> 
		    </div> 
		  </li>		

		  <li class="buttons">
			<input type="hidden" name="form_id" value="875089" />
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		  </li>

		</ul>
	  </form>	
	  <div id="footer">
	  </div>
	</div>
  </body>
</html>
